<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>学生信息管理系统</title>
<!-- thirdparty css -->
<link rel="stylesheet" href="../../thirdparty/bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../../thirdparty/dataTables-1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="../../thirdparty/dataTables-1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="../../thirdparty/jsTree-3.3.3/dist/themes/default/style.min.css">
<!-- personal js -->
<link rel="stylesheet" href="../../css/index.css">
<link rel="stylesheet" href="../../css/noticeMgr.css">
<!-- thirdparty js -->
<script src="../../thirdparty/jquery-3.1.1/jquery-3.1.1.min.js"></script>
<script src="../../thirdparty/dataTables-1.10.12/js/jquery.dataTables.min.js"></script>
<script src="../../thirdparty/dataTables-1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="../../thirdparty/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../thirdparty/jsTree-3.3.3/dist/jstree.min.js"></script>
<!-- personal js -->
<script src="../../js/student/noticeMgr.js"></script>
<script src="../../js/utils/tablesStyleUtils.js"></script>
</head>
<body>
	<div class="container top">
    <div class="top-box">
        <div class="top-box-head">
            <span>公告通知</span>
        </div>
        <div class="top-box-body">
			<table id="noticeTable" class="display">
			</table>
		</div>
	</div>
</body>
</html>