<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>学生信息管理系统</title>
<!-- thirdparty css -->
<link rel="stylesheet" href="../../thirdparty/bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../../thirdparty/dataTables-1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="../../thirdparty/dataTables-1.10.12/css/dataTables.bootstrap.min.css">
<!-- personal js -->
<link rel="stylesheet" href="../../css/index.css">
<!-- thirdparty js -->
<script src="../../thirdparty/jquery-3.1.1/jquery-3.1.1.min.js"></script>
<script src="../../thirdparty/dataTables-1.10.12/js/jquery.dataTables.min.js"></script>
<script src="../../thirdparty/dataTables-1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="../../thirdparty/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<!-- personal js -->
<script src="../../js/teacher/activityMgr.js"></script>
<script src="../../js/utils/tablesStyleUtils.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid col-md-12 tableTop">
		<p>活动管理</p>
		<hr>
		<div class="tableHead">
			<img alt="" src="../../images/xinxibiao.png">
			<p>活动管理表</p>
		</div>
		<table id="activityTable" class="display">
	    	<thead>
           		<tr>
           			<th><input type="checkbox" name="Items"></th>
           			<th>Id</th>
					<th>序号</th>
					<th>活动名称</th>
					<th>活动类型</th>
					<th>参与对象</th>
					<th>参与条件</th>
					<th>活动时间</th>
					<th>活动地点</th>
					<th>活动人数</th>
					<th>申报截止时间</th>
					<th>操作</th>
           		</tr>
           	</thead>
           	<tbody>
           		<tr>
           		 	<th></th>
           		 	<th></th>
           		  	<th>Id</th>
					<td>足球</td>
					<td>室外活动</td>
					<td>电气系学生</td>
					<td>男生</td>
					<td>2014-05-03</td>
					<td>操场</td>
					<td>80</td>
					<td>2015-06-07</td>
					<td></td>
           		</tr>
           	</tbody>
		</table>
	</div>
</div>
</body>
</html>

