<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>学生信息管理系统</title>
<!-- thirdparty css -->
<link rel="stylesheet" href="../../thirdparty/bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../../thirdparty/dataTables-1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="../../thirdparty/dataTables-1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="../../thirdparty/jsTree-3.3.3/dist/themes/default/style.min.css">
<!-- personal js -->
<link rel="stylesheet" href="../../css/index.css">
<link rel="stylesheet" href="../../css/common.css">
<link rel="stylesheet" href="../../css/table.css">
<!-- thirdparty js -->
<script src="../../thirdparty/jquery-3.1.1/jquery-3.1.1.min.js"></script>
<script src="../../thirdparty/dataTables-1.10.12/js/jquery.dataTables.min.js"></script>
<script src="../../thirdparty/dataTables-1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="../../thirdparty/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../thirdparty/jsTree-3.3.3/dist/jstree.min.js"></script>
<!-- personal js -->
<script src="../../js/student/layer.js"></script>
<script src="../../js/teacher/mentalhealthDetail.js"></script>
</head>
<body>
	<div class="container top">
        <div class="top-box">
            <div class="top-box-head">
                <span>健康信息</span>
                <div class="btn btn-default fr" onclick="window.history.back()">返回</div>
            </div>
            <div class="top-box-body">
	            <form id="studentform">
		            <table>
		                <thead>
		                <tr>
		                    <th colspan="8">心理健康信息</th>
		                </tr>
		                </thead>
		                <tbody>
		                <tr>
		                    <td>
		                        <label for="stuName">姓名</label>
		                    </td>
		                    <td>
		                        <input type="text" id="stuName" name="stuName" readonly/>
		                    </td>
		                    <td>
		                        <label for="stuNum">学号</label>
		                    </td>
		                    <td>
		                       	<input type="text" id="stuNum" name="stuNum" readonly/>
		                    </td>
		                </tr>
		                <tr>
		                    <td>
		                        <label for="className">专业</label>
		                    </td>
		                    <td>
		                        <input type="text" id="className" name="className" readonly/>
		                    </td>
		                    <td>
		                        <label for="proName">班级</label>
		                    </td>
		                    <td>
		                       	<input type="text" id="proName" name="proName" readonly/>
		                    </td>
		                </tr>
		                <tr>
		                    <td>
		                        <label for="result">心理普查结果</label>
		                    </td>
		                    <td>
		                        <input type="text" id="result" name="result" />
		                    </td>
		                    <td>
		                        <label for="createTime">排查时间</label>
		                    </td>
		                    <td style="text-align:left;">
		                       	<input type="date" id="createTime" name="createTime" readonly/>
		                    </td>
		                </tr>
		                <tr>
		                    <td>
		                        <label for="way">排查方式</label>
		                    </td>
		                    <td>
		                        <input type="text" id="way" name="way" />
		                    </td>
		                    <td>
		                        <label for="step">采取措施</label>
		                    </td>
		                    <td>
		                       	<input type="text" id="step" name="step" />
		                    </td>
		                </tr>
		                <tr>
		                    <td>
		                        <label for="record">信息记录</label>
		                    </td>
		                    <td  colspan="7">
		                        <textarea type="text" id="record" name="record"></textarea>
		                    </td>
		                </tr>
		                </tbody>
		            </table>
	                <div class="btnBox">
	               		<span>
							<div id='change' class="btn fl" >保存</div>
						</span>
	                </div>
	            </form>
            </div>
        </div>
    </div>
</body>
</html>