<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>学生信息管理系统</title>
<!-- thirdparty css -->
<link rel="stylesheet" href="../../thirdparty/bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../../thirdparty/dataTables-1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="../../thirdparty/dataTables-1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="../../thirdparty/jsTree-3.3.3/dist/themes/default/style.min.css">
<!-- personal js -->
<link rel="stylesheet" href="../../css/index.css">
<link rel="stylesheet" href="../../css/common.css">
<!-- thirdparty js -->
<script src="../../thirdparty/jquery-3.1.1/jquery-3.1.1.min.js"></script>
<script src="../../thirdparty/dataTables-1.10.12/js/jquery.dataTables.min.js"></script>
<script src="../../thirdparty/dataTables-1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="../../thirdparty/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../thirdparty/jsTree-3.3.3/dist/jstree.min.js"></script>
<!-- personal js -->
<script src="../../js/student/bootstrapValidator.min.js"></script>
<script src="../../js/teacher/practice.js"></script>
<script src="../../js/utils/tablesStyleUtils.js"></script>
<script src="../../js/student/layer.js"></script>
</head>
<body>
	<div class="container top">
	    <div class="top-box">
	        <div class="top-box-head">
	            <span>实习信息</span>
	        </div>
	        <div class="top-box-body">
	        	<ul class="top-ul">
                <li>
                    <div>
                        <img src="../../images/xinxibiao.png" alt=""/>
                        <span>实习信息表</span>
                    </div>
                </li>
                </ul>
	        	<table id='studentList' class="display">
	        		<thead>
	        			<tr>
	        				<th><input type="checkbox" name='detail' id="checkAll"/></th>
	        				<th>序号</th>
	        				<th>姓名</th>
	        				<th>学号</th>
	        				<th>专业</th>
	        				<th>班级</th>
	        				<th>就业类别</th>
	        				<th>工作(升学)单位名称</th>
	        				<th>单位性质</th>
	        				<th>单位地址</th>
	        				<th>单位电话</th>
	        				<th>实习证明</th>
	        				<th>操作</th>
	        			</tr>
	        		</thead>
				</table>
				<div class="btn btn-default botbtn delete">删除</div>
	        </div>
	    </div>
    </div>
</body>
</html>