<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>学生信息管理系统</title>
<!-- thirdparty css -->
<link rel="stylesheet" href="../../thirdparty/bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../../thirdparty/dataTables-1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="../../thirdparty/dataTables-1.10.12/css/dataTables.bootstrap.min.css">
<!-- personal js -->
<link rel="stylesheet" href="../../css/index.css">
<!-- thirdparty js -->
<script src="../../thirdparty/jquery-3.1.1/jquery-3.1.1.min.js"></script>
<script src="../../thirdparty/dataTables-1.10.12/js/jquery.dataTables.min.js"></script>
<script src="../../thirdparty/dataTables-1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="../../thirdparty/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<!-- personal js -->
<script src="../../js/teacher/projectMgr.js"></script>
<script src="../../js/utils/tablesStyleUtils.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid col-md-12 tableTop">
		<p>奖助管理</p>
		<hr>
		<div class="tableHead">
			<img alt="" src="../../images/xinxibiao.png">
			<p>奖项信息表</p>
		</div>
		<table id="projectTable" class="display">
	    	<thead>
           		<tr>
           			<th><input type="checkbox" name="grantItems"></th>
           			<th>Id</th>
					<th>序号</th>
					<th>项目名称</th>
					<th>项目级别</th>
					<th>项目要求</th>
					<th>开展时间</th>
					<th>截至时间</th>
					<th>参与条件</th>
					<th>申报开始时间</th>
					<th>申报截止时间</th>
					<th>操作</th>
           		</tr>
           	</thead>
           	<tbody>
           		<tr>
           		 	<th></th>
           		 	<th>Id</th>
           		  	<th>序号</th>
					<td>助学金</td>
					<td>助学金</td>
					<td>电气系</td>
					<td>信息</td>
					<td>A</td>
					<td>2013-04-5</td>
					<td>2013-06-01</td>
					<td>助学金</td>
					<td></td>
           		</tr>
           	</tbody>
		</table>
	</div>
</div>
</body>
</html>

